* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.315)),
    url("./resources/background/bg-2-original.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img#headshot {
  border-radius: 999px;
  max-width: 450px;
  width: 65%;
  border: 2px solid rgb(129, 129, 129);
}

a.position-link, a.position-link:visited {
  color: white;
  text-decoration-thickness: 1px;
}

a.position-link:hover {
  color: rgb(185, 185, 185);
  text-decoration: none;
}

a.social-link {
  text-decoration: none;
  display: inline-block;
  width: 10%;
  max-width: 50px;
  margin: 0 5px;
}

a.social-link svg {
  width: 100%;
  height: auto;
  transition: transform 150ms ease, fill 500ms ease;
}

#footer {
  width: fit-content;
  background-color: rgba(138, 138, 138, 0.7);
}

#new-background {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media (hover: hover) {
  a.social-link svg:hover {
    transform: scale(1.075);
    fill: rgb(185, 185, 185);
  }
}
